.header-pill,
.toggle-pill,
.header-modal-pill {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.section-header-pill {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}



.form-label {
    font-weight: 500;
    font-size: 0.8rem !important;
}

.modal-input {
    width: 100% !important;
    background-color: #e6e6e6 !important;
    outline: none !important;
    border: 1px solid #e6e6e6 !important;
    padding: 2px 5px !important;
    border-radius: 6px !important;
}

.bootstrap-select {
    width: 100% !important;
    background-color: #e6e6e6 !important;
    outline: none !important;
    border: 1px solid #e6e6e6 !important;
    padding: 2px 5px !important;
    border-radius: 6px !important;
    height: auto !important;
}

.bootstrap-select button {
    height: 100%;
    width: 100%;
    padding: 0 15px;
}

.select-button-group .bootstrap-select {
    width: 85% !important;
}

.select-button-group .modal-input {
    width: 85% !important;
}

.select-button-group input {
    width: fit-content !important;
}

.text-end {
    text-align: end;
}

.toggle-button {
    color: black !important;
    font-weight: 500;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 5px 20px;
    background-color: var(--primary-color);
    border-radius: 8px;
    outline: none !important;
    border: none !important;
    transition: 0.6s;
}

.toggle-button:hover {
    color: black !important;
    background-color: #b4e7b5;
}

.select-button {
    outline: none;
    border: none;
    color: white;
    background-color: var(--complementary-color-1);
    border-radius: 6px;
    height: 100%;
}

.select-button-group {
    background-color: #e6e6e6 !important;
    border-radius: 6px !important;
}

#submit-btn,
.submit-btn {
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
}

.btn-main {
    background-color: var(--secondary-color) !important;
    color: white !important;
}

.close {
    margin: 0 !important;
    padding: 0 !important;
    width: 30px;
    height: 30px;
    background-color: #d70007 !important;
    opacity: 1;
}

.modal-header {
    padding: 10px 40px;
}

.modal-border {
    bottom: -12%;
    left: 15%;
    background-color: #dadada;
    width: 70%;
    height: 3px;
}

.modal-footer {
    border-top: 4px solid #dadada;
    width: 70%;
    margin: auto;
}

.card {
    box-shadow: 0 6px 8px -6px #999 !important;
}

.btn-light {
    background-color: transparent !important;
}

#consumption_table_discount input[type="text"] {
    width: 100% !important;
    background-color: #e6e6e6 !important;
    outline: none !important;
    border: 1px solid #e6e6e6 !important;
    padding: 2px 5px !important;
    border-radius: 6px !important;
    text-align: end;
}

.main-footer {
    padding: 0;
}

th {
    padding: 5px !important;
    font-size: 12px;
    font-weight: 700;
    min-width: 85px;
    text-align: center;
    color: #111;
    background-color: #ececec !important;
}

td {
    padding: .25rem !important;
    font-size: 14px;
    font-weight: 700;
    vertical-align: middle !important;
    text-align: center;
}

.select_product_button {
    border: none;
    outline: none;
    background-color: var(--primary-color);
    border-radius: 6px;
    padding: 8px 25px;
    margin: 7px;
    transition: 0.6s;
    font-size: 14px;
    font-weight: 600;
}

.select_product_button:hover {
    background-color: var(--secondary-color);
    color: white;
}

.dt-buttons .table-btns {
    background-color: var(--complementary-color-1) !important;
    color: white !important;
    border-radius: 6px !important;
    margin: 7px !important;
    transition: 0.6s;
    padding: 8px 15px;
}

.dt-buttons .table-btns:hover {
    background-color: var(--secondary-color) !important;
}

.count_wrapper {
    position: relative;
}

.count_wrapper::after {
    content: "";
    position: absolute;
    background: #e6e6e6;
    width: 70%;
    height: 135%;
    border-radius: 4px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    left: 50%;
}

.count_title {
    position: relative;
    background-color: var(--secondary-color);
    color: white;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    z-index: 4;
    text-align: center;
}


.count_value_style {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background: white;
    height: 75%;
    margin-right: -15%;
    margin-top: 1%;
    border-radius: 4px;
}

.gap-5 {
    gap: 5px;
}

.btn {
    border-radius: 4px !important;
}

.btn-main,
.btn-danger {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}

.file--upload>label:hover {
    border-color: var(--secondary-color);
    background-color: #145d1a;
    color: white !important;
}

.attendance-btn {
    position: relative;
}

.attendance-btn::before {
    content: "";
    position: absolute;
    top: 0;
    width: 60%;
    height: 3px;
    background-color: #dadada;
    margin: auto;
}

table button.dropdown-toggle {
    background-color: var(--secondary-color) !important;
    color: white !important;
}